<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Um Lugar Silencioso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
    <ion-item>
      <ion-thumbnail>
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nAU74GmpUk7t5iklEp3bufwDq4n.jpg" alt="">
      </ion-thumbnail>
      <ion-label>Um Lugar Silencioso</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/home" color="danger">Voltar</ion-button>
    </ion-item>
  
    <ion-card-content>
      <ion-text color="danger"><strong>Gêneros:</strong></ion-text>
      <ion-badge slot="start">Terror</ion-badge>
      <ion-badge slot="start">Drama</ion-badge>
      <ion-badge slot="start">Ficção Científica</ion-badge>
    </ion-card-content>
    <ion-card-content>
      <ion-text color="danger"><strong>Data de Estreia:</strong></ion-text><strong> 04/05/2018</strong>
    </ion-card-content>
    <ion-card-content>
      <ion-text color="danger"><strong>Duração do filme:</strong></ion-text><strong> 1h 31m</strong>
    </ion-card-content>
    <ion-card-content>
      <strong><ion-text color="danger">Sinopse:</ion-text> Uma família é forçada a viver em silêncio enquanto se esconde de criaturas que caçam pelo som.</strong>
    </ion-card-content>
    <ion-card-content>
      <ion-text color="danger"><strong>Veja o trailer: </strong></ion-text><a href="https://www.youtube.com/watch?v=8W6iMmhVDgE&ab_channel=ParamountBrasil"> Clique aqui</a>
    </ion-card-content>
  </ion-card>
</ion-content>
