<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Lista de Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/mmznhaQDwlHWpUwKuNxtQiubbmM.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      Círculo de Fogo
    </ion-label>
    <ion-button routerLink="/circulo-de-fogo" color="danger">Informações</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSv7q5madUq_7-AxNCnz7PfbPKF-NWo-1F_dn6AfafquU9Doiz_" alt="">
    </ion-thumbnail>
    <ion-label>
      Gigantes de Aço
    </ion-label>
    <ion-button routerLink="/gigantes-de-aco" color="danger">Informações</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      Venom
    </ion-label>
    <ion-button routerLink="/venom" color="danger">Informações</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSWoVrLkYTcPDXNM8NA8sbe8-DIqqNHVOAKizhwjZVAgUe3rfo-" alt="">
    </ion-thumbnail>
    <ion-label>
      Detona Ralph
    </ion-label>
    <ion-button routerLink="/detona-ralph" color="danger">Informações</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tAMQREOoztvluqrfHiGHFVfB04B.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      The Karate Kid
    </ion-label>
    <ion-button routerLink="/karate-kid" color="danger">Informações</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nAU74GmpUk7t5iklEp3bufwDq4n.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      Um Lugar Silencioso
    </ion-label>
    <ion-button routerLink="/um-lugar-silencioso" color="danger">Informações</ion-button>
  </ion-item>

</ion-content>
