<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/circulo-de-fogo">
    <ion-thumbnail>
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/uFaWzdxzITZxHKaKwyG26QfzHiG.jpg" alt="">
    </ion-thumbnail>
    <ion-label>
      Círculo de Fogo
    </ion-label>
  </ion-item>
  <ion-item routerLink="/gigantes-de-aco">
    <ion-thumbnail>
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSv7q5madUq_7-AxNCnz7PfbPKF-NWo-1F_dn6AfafquU9Doiz_" alt="">
    </ion-thumbnail>
    <ion-label>
      Gigantes de Aço
    </ion-label>
  </ion-item>
  <ion-item routerLink="/venom">
    <ion-thumbnail>
      <img src="https://upload.wikimedia.org/wikipedia/en/1/10/Venom_%282018_film%29_poster.png" alt="">
    </ion-thumbnail>
    <ion-label>
      Venom
    </ion-label>
  </ion-item>
  <ion-item routerLink="/detona-ralph">
    <ion-thumbnail>
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSWoVrLkYTcPDXNM8NA8sbe8-DIqqNHVOAKizhwjZVAgUe3rfo-" alt="">
    </ion-thumbnail>
    <ion-label>
      Detona Ralph
    </ion-label>
  </ion-item>
  <ion-item routerLink="/karate-kid">
    <ion-thumbnail>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnmjRtXMh2bqF_Kl8690Ue4QDGHRIBTHqXaw&usqp=CAU" alt="">
    </ion-thumbnail>
    <ion-label>
      Karatê Kid
    </ion-label>
  </ion-item>
  <ion-item routerLink="/um-lugar-silencioso">
    <ion-thumbnail>
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQMn5hBbbv-3bWqoK_p3LHUyHB9CazyriKarXooSD8K8KyCqoyi" alt="">
    </ion-thumbnail>
    <ion-label>
      Um Lugar Silencioso
    </ion-label>
  </ion-item>

</ion-content>
